@media (pointer: fine) {
  a span {
    display: none;
  }

  a:hover span {
    display: inline-block;
  }
}

@media screen and (min-width: 650px){

/*Navigation*/

  .top-nav ul {
    text-align: center;
  }

  .top-nav ul li {
    display: inline-block;
  }

/*Home*/

  .main-content-home {
    margin: 20px;
    margin-top: 120px;
    margin-bottom: 120px;
  }

  .home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .welcome, .home-picture {
    grid-column: 1/3;
  }

/*About*/

  .main-content-about {
    margin: 20px;
    margin-top: 120px;
    margin-bottom: 120px;
  }

  .about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .about-picture, .about-text {
    grid-column: 1/3;
  }

/*Work*/

  .main-content-work {
    margin: 20px;
    margin-top: 120px;
    margin-bottom: 120px;
  }

  .work-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #projects, #skills {
    grid-column: 1/3;
  }

/*Gallery*/

  .main-content-gallery {
    margin: 20px;
    margin-top: 120px;
    margin-bottom: 120px;
  }

  .photo-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .germanshep {
    grid-column: 1 / 2;
    grid-row-start: 3;
  }

  .pomeranian {
    grid-column: 2 / 3;
    grid-row-start: 3;
  }

  .poodle {
    grid-column: 1 / 2;
    grid-row-start: 5;
  }

  .noseyboy {
    grid-column: 2 / 3;
    grid-row-start: 5;
  }

  .babyfriends, .sarge, .corgi {
    grid-column: 1 / 3;
  }

}

@media screen and (min-width: 1000px){

/*Navigation*/

  .logo {
    float: left;
  }

  .top-nav ul {
    float: right;
    padding-top: 20px;
  }

  .top-nav ul li {
    display: inline-block;
    margin-top: -7px;
  }

/*Home*/

  .home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .welcome {
    grid-column: 1 / 3;
  }

  .home-picture {
    grid-column: 3 / 5;
  }

  .main-content-home {
    margin-top: 120px;
  }

/*About*/

  .about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .about-picture {
    grid-column: 1 / 3;
    grid-row-start: 1;
  }

  .about-text {
    grid-column: 3 / 5;
  }

/*Work*/

  .work-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  #projects {
    grid-column: 1 / 3;
  }

  #skills {
    grid-column: 3 / 5;
  }

/*Gallery*/

  .photo-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .germanshep {
    grid-column: 1 / 2;
    grid-row-start: 2
  }

  .pomeranian {
    grid-column: 2 / 3;
    grid-row-start: 2;
  }

  .poodle {
    grid-column: 1 / 2;
    grid-row-start: 3
  }

  .noseyboy {
    grid-column: 2 / 3;
    grid-row-start: 3
  }

  .babyfriends {
    grid-column: 1 / 3;
  }

  .sarge, .corgi {
    grid-column: 3 / 5;
  }

}
