@media only screen and (min-width: 650px) and (max-width: 1000px) {

  /* navigation adjustment*/
  .top-nav ul li {
    display: inline-block;
    width: 20%;
  }

  .top-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .top-nav ul li, .menu-icon{
    border-top: 1px solid red;
  }

  /* home images*/
  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .image-cell {
    grid-column: 1/1;
    padding: 5px;
  }

  .main-content-home {
    margin: 10px 10px;
  }


}
