@media only screen and (max-width: 480px) {

  /* navigation adjustment*/
  .top-nav ul {
    padding-left: 2%;
    padding-right: 2%;
  }

  .top-nav ul li {
    display: block;
    padding: 0;
    margin:0;
  }

  .top-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%
  }
  
/*  video*/
  iframe {
  width: 100%;
  height: auto;
  }

/*  form alignment*/
  #contacts {
    text-align: center;
    width: 100%
  }

  #form {
    text-align: center;
    width: 100%
  }


  .main-content-proj {
  margin: 0.2em 0.2em;
  padding: 0.2em 0.2em;
  }

  #proj_content img{
    width:100%;
  }


}




@media only screen and (min-width: 480px) and (max-width: 768px) {

  /* navigation adjustment*/
  .top-nav ul li {
    display: inline-block;
    width: 30%;
  }

  .top-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-content-proj {
  margin: 0.2em 0.2em;
  padding: 0.2em 0.2em;
  }

   #proj_content img{
    width:100%;
  }

  #contacts {
    text-align: center;
    width: 100%
  }

  #form {
    text-align: center;
    width: 100%
  }


}




@media only screen and (min-width: 768px) {

/* navigation adjustment*/

 .top-nav ul li {
    display: inline-block;
    width: 30%;
  }

  .top-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }


}
