@media only screen and (max-width: 650px) {

  /* navigation adjustment*/
  .top-nav ul {
    padding-left: 2%;
    padding-right: 2%;
  }

  .top-nav ul li {
    display: block;
    padding: 0;
    margin:0;
  }

  .top-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%
  }
}


@media only screen and (max-width: 1000px) {

  /* navigation adjustment*/
  .top-nav ul li {
    display: inline-block;
    width: 30%;
  }

  .top-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

@media only screen and (min-width: 1000px) {

/* navigation adjustment*/

 .top-nav ul li {
    display: inline-block;
    width: 30%;
  }

  .top-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }

}