@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);


body {
    background: #fafafa;
    font-family:  "Roboto", helvetica, arial,sans-serif;
    font-weight: 300;
}

.container{
    padding:10px;
}

img.logo{
    padding-left: 0.2em;
    padding-right: 0.2em;
}


h1{
    color:#ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: 400;
}

h2{
    color:#ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-weight: 250;
}

h3{
    color:#e62b1e;
    font-family: Helvetica, Arial, sans-serif;
    font-size:20px;
    padding-top: 3em;
    font-weight: 300;
}

h5 {
    font-size: 18px;
    font-weight: bold;
    font-family: "Helvetica Neue Custom", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;

}

.info-label {
    font-size: 18px;
    font-weight: bold;
    font-family: Consolas;
}


h6 {
    font-size: 18px;
    font-weight: bold;
    font-family: "Lucida Console";
}


p{
    color:#404040;
    font-size:15px;
}


legend {
    font-size: 15px;
    font-weight: 400;
}


label input {
    margin-bottom: 10px;
}

.question {
    background: white;
    border: 1px solid #bdbdbd;
    min-height:200px;
    margin-bottom:30px;
}


/* .chartholder{
    width: 30%;
    margin-right:3%;
    float:left;
    text-align:center;
    padding-bottom:40px;
} */


.text {
    font-size: 14px;
    font-weight: bold;
    font-family: Consolas;
}


.line {
    fill: none;
    stroke: #5b717c;
    stroke-width: 2px;
}

.toolTip {
    position: absolute;
    display: none;
    min-width: 80px;
    height: auto;
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #069ea8;
    padding: 14px;
    text-align: center;
}

fieldset {
    border: 0px;
    margin: 30px 20px;
}

.slider-1 {
    float: none;
    position: relative;
    width: 450px;
    min-height: 450px;
    background-color: #ffffff;
    margin: 20px 100px;
}

.target {
  position: absolute;
  background-color: #ffffff;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.regression {
    stroke-width: 2px;
    stroke: steelblue;
    stroke-dasharray: 10,5;
}

.line {
    stroke-width: 2px;
    stroke: steelblue;
    stroke-dasharray: 10,5;
}

button {
    background-color: #ffffff !important;
    color: #140078 !important;
    border: 1px solid #808080 !important;
}

button:hover  {
    background-color: #e62b1e!important;
    color: #ffffff !important;
    border: 0.5px solid #808080!important;
}


text {
    font-size: 12px;
}


.githubRepo .copyright {
    display: block;
    margin: auto;
}

.outside{
    display: grid;
    justify-items: start;
    padding-left: 5%;
    align-items: center;
}

.highlight{
     opacity: 1 !important;
}

/* ul{
  font-size: 20px;
} */

.one-talk {
    display: inline-block;
    width: 28%;
}

.select{
    display: block;
}

footer {
    padding: 18px;
}

#bulletpoints {
    font-size: 15px;
}

caption{
    font-style: italic !important;
}