@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

/* general staff */
* {
	margin:0 auto;
	padding: 0 auto;
	background-color: #ffffff;
	font-family: 'Lato', Arial, sans-serif;
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }


/*header align*/
header, footer {
	width: 100%;
	background-color: #ffffff;
	color: #000000;
}

header {
	display: inline-block;
	background-color: #ffffff;
	border-color:#000000;
	margin: 0 auto;
	border:0 auto;
}


.logo-text-container{
	display: inline-block;
}


.logo {
	height: auto;
	margin:0;
	text-align: center;
	padding: 0.25em 0.75em;
	float: left;
}


#logo-text{
	margin-top:0.7%;
	margin-bottom: 0px;
	margin-left: 1.6%;
	display:inline-block;
	color: #000000;
    font-size: 1.2em;
}


#logo-img{
  height: 4em;
  width: auto;
  margin-left: 1%;
  margin-top:0.5%;
  display: inline-block;
  float:left;
}


.top-nav ul{
	list-style-type: none;
	padding: 0;
	margin:0;
	display: inline-block;
	float: right;
}

.top-nav-item sli a{
	font-size: 1em;
	color: #000000;
	text-decoration: none;
	padding: .5em 1em;
	display: inline;
	text-align: center;
}




/*navigation style*/
a:link {
 	text-decoration: none;
}
a:visited {
 	text-decoration: none;
}

a:hover {
	color:grey;
}

a:active {
 	text-decoration: none;
}

.current-page {
	background-color: #000000;
	color: #ffffff;
	padding: 0.1em;
}

#main-content{
	
}



/*body align*/
body {
	background-color: #ffffff;
	color: black;
	font-weight: 400;
}

a {
	color: black;
	text-decoration: underline;
}


/*home page*/

#image-cell {
	margin-top: 3%;
}



/*footer align*/
footer {
/*	position:fixed;*/
}

.socialmedia {
	display: flex;
	justify-content: center;
	align-items: center;
}

.socialmedia li{
  display: inline-block;
  margin-top: 1em;
}

.socail-media-icon{
	width:40px;
}

.copyright {
	font-size: 0.8em;
	color: #000000;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1em;
	margin-bottom: 3em;
}


