@import url(http://fonts.googleapis.com/css?family=Poppins:300,400,700);

/* general staff */
* {
	margin:0 auto;
	padding: 0 auto;
	background-color: #ffffff;
	font-family: 'Poppins', Arial, sans-serif;
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }


/*header align*/
header, footer {
	width: 100%;
	background-color: #ffffff;
	color: #000000;
}

header {
	display: inline-block;
	border-color:#000000;
	margin-top: 0 auto;
/*	padding-bottom: 5em;*/
/*	position: fixed;*/
}
/*appear always on the top?*/


.logo-text-container{
	display: inline-block;
}


.logo {
	height: auto;
	margin:0.25em 0.25em;
	float: left;
}


#logo-text{
	margin-top: 0.8em;
	margin-bottom: 0.25em;
	display:inline-block;
	color: #000000;
    font-size: 1.6em;
}

#logo-img{
  height: 4em;
  width: auto;
  margin-left: 1%;
  margin-top:0.5%;
  display: inline-block;
  float:left;
}


.top-nav ul {
	list-style-type: none;
	padding: 0;
	margin:0;
	display: inline-block;
	float: right;
}


.top-nav ul li a{
	font-size: 1em;
	text-decoration: none;
	padding: 0.15em 0.5em;
	display: block;
	text-align: center;
	margin-top: 1.4em;
}

.current-page {
	background-color: #000000;
	color: #ffffff;
	margin-left: 0.7em;
	margin-right: 0.7em;
}



/*navigation style*/
a:link {
 	text-decoration: none;
}
a:visited {
 	text-decoration: none;
}

a:hover {
	color:grey;
}

a:active {
 	text-decoration: none;
}


.main-content h2 p{
	text-align: center;
	/*background-image: url('homeback.jpg');*/
	color: #ffffff;
	margin: 30% 100em;
	padding: 30% 30%;
}

.main-content h2 {
	font-size: 28px;
}

.main-content p{
	font-size: 17px;
}


.main-content{
	background-image: url("homeback.jpg");
	height:30%;
	width: 100%;
	padding-top: 4em;
	padding-bottom: 4em;
	background-repeat: no-repeat;
}



/*body align*/
body {
	background-color: #ffffff;
	color: black;
	font-weight: 400;
}


a {
	color: black;
	text-decoration: underline;
}

.title h2, p, h4 {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 1.5em;
}


/*home page*/
#home-gallery img {
	margin-top: 8%;
	width:100%;
}


/*footer align*/
.socialmedia {
	display: flex;
	justify-content: center;
	align-items: center;
}

.socialmedia li{
  display: inline-block;
  margin-top: 0.8em;
  padding:0.2em 0.5em;
}

.socail-media-icon{
	width:40px;
}

.copyright {
	font-size: 0.8em;
	color: #000000;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1em;
	margin-bottom: 3em;
}


/*project page*/
#proj-cover img{
	width:100%;
}

#proj-content img{
	width:80%;
}

#matrix img {
	width:100%;
}

.body-project h4 {
	margin-top: 1em; 
	color:#350f93;
}

.main-content-proj {
	margin: 1em 3em;
	padding: 0.2em 3em;
}


p{
	padding: 0.5em 0.2em;
	color: #595959;
}

iframe {
	display: flex;
	justify-content: center;
	align-items: center; 
}

figure {
	display: flex;
	justify-content: center;
	align-items: center; 
}

.intro p {
	font-style: italic;
}


/*visual page*/
.subtitle {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 2.5em;
}

#info, #poster, #web, #other {
	padding-top: 1.5em;
}

.visual img {
	width:100%;
}


/*about page*/
.resume {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 1em;
	padding-bottom: 1em;
}

.resume a{
	font-size: 90%;
	padding: 1em; 
	border: 2px solid black;
	border-radius:3px;
}

#self_intro p{
	text-align: left;
}

#photo img {
	width:100%;
}


/*contact page*/
#contacts h4{
	padding-bottom: 0.5em;
	text-align: left;
}

#form h4{
	padding-bottom: 1em;
	text-align: left;
}

h5{
	color:#350f93;
	font-size: 0.8em;
	font-weight: bold;
}

#contacts h5 {
	padding-top: 2em;
}


#form legend{
	color:#350f93;
	font-size: 0.8em;
	font-weight: bold;
	padding-top: 0.5em;
}


#form label{
	padding-top: 0em;
}


#button{
	background-color: grey;
	color: #ffffff;
	font-size: 0.8em;
	border:1px solid grey;
	padding:0.4em 0.6em;
}