* {
  margin: 0 auto;
  padding: 0 auto;
  font-family: Times, Arial, sans-serif;
  background-size: cover;
  background-image: url("../images/tic-tac-toe.png");
}

#img1, #img2 {
  border:5px solid blue;
  display:inline-flex;
	justify-content: center;
	align-items: center;
}

img {
  width: 100%;
}

#button1, #button2 {
  background-color:lightgrey;
  text-align: center;
}



/* resonsive design */
/* @media only screen and (max-width: 480px) {
  #img1, #img2 {
    display: inline-block;
  }

  img {
    width: 100%;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  #pics {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  #img1, #img2 {
    grid-column: span 2;
    padding:0;
  }

} */
